<div class="columns">
    <div class="column is-4">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Tipo de Conta
                </p>
            </header>
            <div class="card-content">
                <div class="content">
        			<center>
                        <span class="tag is-black"><b>Nível &nbsp; <span data-var="user_level"></span></b></span>
                        <h1 class="title" data-var="user_level_name"></h1>
                        <h2 class="subtitle" data-var="user_level_stars"></h2>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-8">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Informações Pessoais
                </p>
            </header>
            <div class="card-content">
                <div class="select is-fullwidth">
                    <select data-var="user_gender" data-do="update_profile_details">
                        <option selected disabled>Gênero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
                <hr/>
                <div class="control">
                    <input type="text" data-var="user_cpf" data-do="update_profile_details" class="input is-fullwidth" placeholder="CPF/CNPJ" onkeyup="inputmask(this, mask__cpfCnpj)" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="level_upgrade_card">
    <div class="card-content" id="upgrade__menu">
        <p data-var="next_level_description"></p>
        <hr/>
        <div class="columns">
            <div class="column">
                <button class="button is-large is-dark" data-do="upgrade__sendByMobile">
                    <span class="icon is-medium">
                      <i class="fa fa-mobile"></i>
                    </span>
                    <br/>
                    <span>Enviar documentos pelo celular (recomendado)</span>
                </button>
            </div>
            <div class="is-divider-vertical" data-content="OU"></div>
            <div class="column">
                <button class="button is-large is-dark is-outlined" data-do="upgrade__sendByComputer">
                    <span class="icon is-medium">
                      <i class="fa fa-desktop"></i>
                    </span>
                    <br/>
                    <span>Enviar documentos pelo computador</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-content" id="upgrade__mobile_upload" style="display: none">
        <p>Ao clicar em Continuar, você receberá um SMS contendo um link. Ao clicar neste link, você será guiado pelos passos necessários para a captura das imagens dos documentos necessários para realizar o upgrade de sua conta.</p>
        <br><button class="button is-dark" data-do="create_mobile_upgrade_process"><b>Continuar</b></button><button class="button is-secondary" data-do="upgrade__menu">Cancelar</button>
    </div>
    <div class="card-content" id="upgrade__web_upload" style="display: none">
        <div class="content">
            <!-- <h3 class="title" data-var="next_level_name"></h3> -->
            <p data-var="next_level_description"></p>
            <!-- <button class="button is-info" data-do="level_upgrade_toggle" id="level_upgrade_btn">
                <i class="fa fa-arrow-up"></i> Realizar Solicitação
            </button> -->
            <div id="level_upgrade_form" style="display: block">
                <hr/>
            </div>
        </div>
    </div>
</div>

<div class="card" id="no_level_upgrade_available">
    <header class="card-header">
        <p class="card-header-title">
            Sua Conta foi Confirmada
        </p>
    </header>
    <div class="card-content">
        Se deseja aumentar seus limites de saque e depósito, por favor, <a href="https://brecoins.zendesk.com/hc/pt-br/requests/new" target="_blank">entre em contato com o suporte</a>.
    </div>
</div>