<section class="hero is-white">
    <div class="section is-fluid">

        <div class="columns">

            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Alterar Senha
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="field">
                                <div class="control">
                                    <input class="input" data-var="current_pwd" type="password" placeholder="Digite sua senha atual">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input" data-var="new_pwd" type="password" placeholder="Digite sua nova senha">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input" data-var="new_pwd2" type="password" placeholder="Confirme sua nova senha">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <a href="javascript:void(0);" data-do="change_password" class="button is-primary"><b>Confirmar</b></a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Autenticação de Dois Fatores
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-3">
                                <i style="font-size: 128px" class="fa fa-unlock-alt"></i>
                            </div>
                            <div class="column is-9">
                                <div class="content">
                                    <p>Baixe o app 
                                        <a href="https://www.authy.com" class="link" target="_blank">Authy</a> ou
                                        <a href="https://support.google.com/accounts/answer/1066447" class="link" target="_blank">Google Authenticator</a> e faça a ativação da autenticação de dois fatores.
                                        <hr>
                                        <span data-if="otp_enabled">
                                            <a href="javascript:void(0);" data-do="disable_otp" class="button is-danger">
                                              <i class="fa fa-key fa-fw"></i>
                                              <b>Desativar Autenticação de 2 Fatores</b></a>
                                        </span>
                                        <span data-ifnot="otp_enabled">
                                            <a href="javascript:void(0);" data-do="enable_otp" class="button is-primary"><i class="fa fa-fw fa-key"></i> <b>Ativar Autenticação de 2 Fatores</b></a>
                                        </span>
                                        <br><br>
                                        <span data-if="facial_enabled">
                                            <a href="javascript:void(0);" data-do="disable_facial" class="button is-danger">
                                              <i class="fa fa-smile-o fa-fw"></i>
                                              <b>Desativar Reconhecimento Facial</b></a>
                                        </span>
                                        <span data-ifnot="facial_enabled">
                                            <a href="javascript:void(0);" data-do="enable_facial" class="button is-primary"><i class="fa fa-fw fa-smile-o"></i> <b>Ativar Reconhecimento Facial</b></a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Locais Conectados
            </p>
        </header>
        <div class="card-content">
            <table class="table is-fullwidth is-responsive">
                <thead>
                    <tr>
                        <th>Navegador</th>
                        <th>IP</th>
                        <th>Localização</th>
                        <th>Data de Login</th>
                        <th>Última Atividade</th>
                        <th>Sair</th>
                    </tr>
                </thead>
                <tbody data-var="activesessions"></tbody>
            </table>

        </div>
    </div>

</section>