<div class="columns">
    <div class="column is-4">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Seu Nível Atual
                </p>
            </header>
            <div class="card-content">
                <div class="content">
        			<center>
                        <span class="tag is-info">Nível &nbsp; <span data-var="user_level"></span></span>
                        <h1 class="title" data-var="user_level_name"></h1>
                        <h2 class="subtitle" data-var="user_level_stars"></h2>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-8">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Informações Pessoais
                </p>
            </header>
            <div class="card-content">
                <div class="select is-fullwidth">
                    <select data-var="user_gender" data-do="update_profile_details">
                        <option selected disabled>Gênero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
                <hr/>
                <div class="control">
                    <input type="text" data-var="user_cpf" data-do="update_profile_details" class="input is-fullwidth" placeholder="CPF" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="level_upgrade_card">
    <header class="card-header">
        <p class="card-header-title">
            Atualização Disponível
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <h3 class="title" data-var="next_level_name"></h3>
            <p data-var="next_level_description"></p>
            <hr/>
            <button class="button is-primary" data-do="level_upgrade_toggle" id="level_upgrade_btn">
                <i class="fa fa-arrow-up"></i> Realizar Upgrade
            </button>
            <div id="level_upgrade_form" style="display: none">
                <hr/>
            </div>
        </div>
    </div>
</div>