<section class="basic-market hero" style="position: relative">
    <div class="hero-body">
            <div class="columns is-fullheight">

                    <div class="column is-auto">
                        <iframe class="chart" data-var="chart" style="height: 100%; width: 100%;" src="/chart.html"></iframe>
                    </div>
                    <div class="column is-3">
                        <div class="card-content volume-widget">
                        <div class="has-text-centered">
                            <span class="currency">Bitcoin / Brasil (BTCBRL)</span>
                            <h3 class="price title" data-var="volumeavg"></h3>
                            <small class="variation" data-var="volincrease"></small>
                        </div>

                        <div class="low-high columns">
                            <div class="item low column">
                                <div>
                                    <span data-var="volumelow"></span>
                                </div>
                            </div>
                            <div class="item high column">
                                <div>
                                    <span data-var="volumehigh"></span>
                                </div>
                            </div>
                        </div>

                        <input type="text" class="is-fullwidth volume-slider" id="volume-slider-basic" value="" data-slider-min="0" data-slider-tooltip="hide" data-slider-max="23"
                            data-slider-step="5" data-slider-value="[1,24]" />
                        <div class="has-text-centered">
                            <span class="slider-subtitle">Intervalo do Dia</span>
                        </div>

                        <table class="table has-text-right is-narrow is-fullwidth" style="width: 100%">
                            <!-- <thead>
                                <tr>
                                    <th>Faixa</th>
                                    <th>Volume</th>
                                </tr>
                            </thead> -->
                            <tbody data-var="volumechart"></tbody>
                        </table>
                    </div>
                    </div>
                </div>
    </div>
</section>