
<section class="hero  is-medium is-white">

    <div class="hero-body">
        <div class="columns is-multiline has-text-centered">

            <div class="column is-half is-offset-one-quarter">
                    <small><a class="is-link is-small | addallbtc" data-target="basic_orders_buy_amount"><i class="fa fa-pencil"></i></a> Eu quero comprar a quantidade de...</small>
                    <input type="text" placeholder="฿ 0.00000000" data-mask="money_crypto" id="basic_orders_buy_amount" class="input is-large | offerbuy_amount" autofocus>
            </div>
            <hr>

            <div class="column is-half is-offset-one-quarter">
                <small>Eu quero pagar por Bitcoin, no máximo...</small>
                <input type="text" placeholder="R$ 0,00" data-mask="money_fiat" id="basic_orders_buy_price" value="" class="input is-large | offerbuy_price">
            </div>

            <!-- <span class="is-pulled-right">Quantia: <span data-var="basic_order_buy_preview"></span></span> -->

            
            <hr>
            

            <div class="column is-4 is-offset-4">
                <!-- <span>Taxa de serviço (0.50%): </span> <b>B 0,000001 (R$ 0.25)</b> <br><br> -->
                 <div class="notification">Valor Estimado <span id="basic_order_buy_preview"></span></div>
                <button class="button is-large is-success is-fullwidth loadingonclick" data-do="basic_buy">Comprar</button>
            </div>




        </div>
    </div>

</section>