
<section class="hero  is-medium is-white">

        <div class="hero-body">
            <div class="columns is-multiline has-text-centered">
    
                <div class="column is-half is-offset-one-quarter">
                        <small>Eu quero vender (BTC)</small>
                        <input type="text" placeholder="Ƀ 0.00000000" id="basic_orders_sell_amount" value="" class="input is-large | offersell_amount" autofocus>
                </div>
                <hr>
    
                <div class="column is-half is-offset-one-quarter">
                    <small>Preço por BTC (R$):</small>
                    <input placeholder="R$ 0,00" type="text" id="basic_orders_sell_price" value="" class="input is-large | offersell_price">
                </div>
    
                <!-- <span class="is-pulled-right">Quantia: <span data-var="basic_order_buy_preview"></span></span> -->
    
                
                <hr>
                
    
                <div class="column is-4 is-offset-4">
                    <!-- <span>Taxa de serviço (0.50%): </span> <b>B 0,000001 (R$ 0.25)</b> <br><br> -->
                    <p>Quantia: <span id="basic_order_sell_preview"></span></p>
                    <button class="button is-large is-danger is-fullwidth" data-do="basic_sell">Vender</button>
                </div>
    
    
    
    
            </div>
        </div>
    
    </section>