<section>
        <div class="tabs is-centered is-boxed is-fullwidth is-large">
            <ul>
                <li class="is-active">
                    <a data-tab="contabil_extrato" data-group="contabil">
                        <span class="icon is-small">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        Extrato
                    </a>
                </li>
                <li>
                    <a data-tab="contabil_timeline" data-group="contabil">
                        <span class="icon is-small">
                            <i class="fa fa-history"></i>
                        </span>
                        Linha do Tempo
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            <div data-tabname="contabil_extrato" data-tabgroup="contabil" w3-include-html="views/contabil_extrato.html"></div>
            <div data-tabname="contabil_timeline" data-tabgroup="contabil" class="is-invisible" style="display: none" w3-include-html="views/contabil_timeline.html"></div>
        </div>

</section>