<section class="hero is-light">
    <div class="hero-body">
        <div class="container is-fluid">
            <h2 class="subtitle">
                Suas Negociações na BRE Coins
            </h2>
            <hr>
            <div class="timeline is-centered" data-var="timeline_list">
			</div>

    
            <p>Página <span data-var="timeline_page"></span></p>
            <div class="buttons has-addons">
                <span class="button loadingonclick" data-do="timelineNext"><i class="fa fa-fw fa-arrow-left"></i></span>
                <span class="button loadingonclick" data-do="timelinePrev"><i class="fa fa-fw fa-arrow-right"></i></span>
            </div>
        </div>
    </div>
</section>