<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Wallet para recebimento dos seus bitcoins.
        </p>
    </header>
    <div class="card-content">

        <div class="columns">
            <div class="column">
                <div class="content has-text-centered">

                    <figure class="image" style="margin: 0 auto; margin-bottom: 9px">
                            <img data-var="userwallet_qrcode" src="about:blank"
                            class="is-centered" style="width: 300px" />
                    </figure>


                    <code data-var="userwallet"></code>
                    <br>
                    <!--<span class="subtitle" data-var="user_nick"></span>-->
                    <br>
                    <br>

                    <a data-do="copyuserwallet" class="button is-danger">
                            <i class="fa fa-fw fa-clipboard"></i> Copiar
                    </a>

                    <a data-do="gennewwallet" class="button is-danger">
                            <i class="fa fa-fw fa-refresh"></i> Gerar nova carteira
                    </a>
                    

                </div>
        </div>


    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Histórico
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <table class="is_table" data-var="deposits">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Quantidade</th>
                        <th>Transação</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="depositos_crypto_tbl">
                </tbody>
            </table>
        </div>
    </div>
</div>