<form data-alias="signin" onSubmit="return false;">
  <div class="card-content">
    <div class="field">
        <input class="input has-float-label is-fullwidth" required type="email" data-var="signin-email">
        <label><span>E-mail</span></label>
    </div>
    <div class="field">
        <input class="input has-float-label is-fullwidth" required type="password" data-var="signin-password">
        <label><span>Senha</span></label>
    </div>
    <div class="columns">
      <div class="column">
        &nbsp;
      </div>
      <div class="column">
        <a href="javascript:void(0);" data-do="linkrecover">Esqueceu a senha?</a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p style="float: left">
          Ainda não possui registro?<br>
          <a href="javascript:void(0);" data-do="linksignup">Crie sua conta agora</a>
        </p>
      </div>
      <div class="column">
          <button class="button is-medium is-fullwidth is-light" type="button" data-do="signin">
            Entrar
          </button>
      </div>
    </div>
  </div>
</form>