<div class="modal-background"></div>
<div class="modal-card is-large">
    <header class="modal-card-head">
        <p class="modal-card-title">Histórico de Ordens</p>
        <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tipo da ordem</th>
                        <th>Detalhes</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody data-var="orderlist"></tbody>
            </table>
    </section>
</div>