<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Notificações</p>
        <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="box" style="min-width: 300px">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <b>Parabéns!</b> Sua conta foi verificada.
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="box" style="min-width: 300px">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <b>Saque realizado!</b> Seu pedido de saque de R$ 500,00 foi concluído.
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="buttons has-addons">
          <span class="button" data-do="statementPrev"><i class="fa fa-fw fa-arrow-left"></i></span>
          <span class="button" data-do="statementNext"><i class="fa fa-fw fa-arrow-right"></i></span>
        </div>
    </section>
    <footer class="modal-card-foot">
        <button class="button close-modal">&times; Fechar</button>
    </footer>
</div>