<div class="modal-background"></div>
<div class="modal-card is-large">
    <header class="modal-card-head">
        <p class="modal-card-title">Webcam</p>
        <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

        <div class="box" style="min-width: 300px">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <div id="AcessoFrame" style="width: 640px; height: 360px; margin-left: 322.5px;"></div>
              </div>
            </div>
          </article>
        </div>

    </section>
    <footer class="modal-card-foot">
        <button class="button primary" id="webcamAction"><i class="fa fa-fw fa-camera"></i> Capturar</button>
    </footer>
</div>