<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Nova Ordem de Depósito</p>
        <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <ul>
            <ol>Realize o depósito para a conta bancária abaixo:
            <p id="depositModalBank">
            </p></ol>
            <ol>Escreva no seu comprovante o identificador numérico: <code data-var="lastFiatDepositId"></code>
            <br>Este identificador também pode ser localizado em seu histórico de comprovantes.</ol>
            <ol>Por fim, envie o comprovante clicando no botão "Enviar Comprovante" em seu histórico de depósitos. Os formatos aceitos são: PDF, BMP, JPEG (JPG), PNG ou GIF</ol>
        </ul>
    </section>
    <footer class="modal-card-foot">
        <button class="button close-modal">OK</button>
    </footer>
</div>