<section>
        <div class="tabs is-centered is-boxed is-fullwidth is-large">
            <ul>
                <li class="is-active">
                    <a data-tab="ordens_list" data-group="ordens">
                        <span class="icon is-small">
                            <i class="fa fa-list"></i>
                        </span>
                        Ordens Pendentes
                    </a>
                </li>
                <li>
                    <a data-tab="ordens_special" data-group="ordens">
                        <span class="icon is-small">
                            <i class="fa fa-list"></i>
                        </span>
                        Ordens Executadas
                    </a>
                </li>
                <li>
                    <a data-tab="ordens_special" data-group="ordens">
                        <span class="icon is-small">
                            <i class="fa fa-star"></i>
                        </span>
                        Ordens Especiais
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            <div data-tabname="ordens_list" data-tabgroup="ordens" w3-include-html="views/ordens_list.html"></div>
            <div data-tabname="ordens_special" data-tabgroup="ordens" class="is-invisible" w3-include-html="views/ordens_special.html"></div>

        </div>

</section>