<section class="hero is-light">
    <div class="hero-body">
        <div class="container is-fluid">
            <h2 class="subtitle">
                Histórico de ordens de stop
            </h2>
            <hr>

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Gatilho</th>
                        <th>Tipo da ordem</th>
                        <th>Quantia</th>
                        <th>Preço</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody data-var="orderspecial"></tbody>
            </table>
        </div>
    </div>


</section>
