<section class="hero is-light">
    <div class="hero-body">
        <div class="container is-fluid">
            <h2 class="subtitle">
                Histórico de ordens pendentes
            </h2>
            <hr>

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tipo da ordem</th>
                        <th>Detalhes</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody data-var="orderlist"></tbody>
            </table>
        </div>
    </div>


</section>
