<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Preencha seus dados abaixo para enviar os seus reais para sua conta bancária
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="field">
                <label class="label">
                    Valor do saque:
                </label>
                <div class="control has-icons-left">
                    <input class="input" id="valorFiatSaque" data-mask="money_fiat" />
                    <span class="icon is-small is-left">
                        R$
                    </span>
                </div>
                <p><b>Mínimo:</b> R$ 1.000,00</p>
            </div>
            <div class="field">
                <label class="label">
                    Seu Banco:
                </label>
                <div class="select is-fullwidth">
                    <select id="bancoSaque" class="select">
                        <optgroup label="Bancos conveniados" data-var="sitebanknames"></optgroup>
                        <optgroup label="Principais bancos não conveniados" data-var="mainbanks"></optgroup>
                        <optgroup label="Todos os bancos" data-var="allbanks"></optgroup>
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Sua Agência:
                </label>
                <div class="control">
                    <input class="input" id="usragenciaSaque" />
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Sua Conta:
                </label>
                <div class="control">
                    <input class="input" id="usrcontaSaque" />
                </div>
            </div>
            <div class="field">
                <label class="label">
                    CPF/CNPJ:
                </label>
                <div class="control">
                    <input class="input" id="usrcpfSaque" />
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Tipo da Conta:
                </label>
                <div class="select is-fullwidth">
                    <select id="usrtipoSaque" class="select">
                        <option value="PF">Pessoa Física</option>
                        <option value="PJ">Pessoa Jurídica</option>
                        <option value="Poup.">Poupança</option>
                    </select>
                </div>
            </div>

            <div class="notification is-dark">
                <b>Atenção</b> Seu limite diário de saque é: <b data-var="fiat_withdraw_limit"></b>. <a href="javascript:void(0)" data-do="go_upgrade_page">Aumente seu limite!</a>
            </div>

            <hr>


            <button class="button is-danger is-medium loadingonclick" data-do="createFiatWithdraw">
                    <i class="fa fa-fw fa-plus"></i> Solicitar Saque
            </button>
            
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Histórico
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <table class="is_table" data-var="deposits">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Informações</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="saqueslist_fiat_tbl"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>