<section>
    <div>
        <div class="tabs is-centered is-toggle is-fullwidth is-large">
            <ul>
                <li class="is-active">
                    <a data-tab="withdraw_crypto" data-group="withdraw">
                        <span class="icon is-small">
                            <i class="fa fa-btc"></i>
                        </span>
                        Sacar Bitcoins
                    </a>
                </li>
                <li>
                    <a data-tab="withdraw_fiat" data-group="withdraw">
                        <span class="icon is-small">
                            <i class="fa fa-dollar"></i>
                        </span>
                        Sacar Reais
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            <div data-tabname="withdraw_crypto" data-tabgroup="withdraw" w3-include-html="views/saques_crypto.html?v=20180215"></div>
            <div data-tabname="withdraw_fiat" data-tabgroup="withdraw" class="is-invisible" style="display: none" w3-include-html="views/saques_fiat.html?v=20180215"></div>
        </div>
    </div>

</section>