<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Sacar Reais
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="field">
                <label class="label">
                    Valor do saque:
                </label>
                <div class="control has-icons-left">
                    <input class="input" id="valorFiatSaque" />
                    <span class="icon is-small is-left">
                        R$
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Seu Banco:
                </label>
                <div class="select is-fullwidth">
                    <select id="bancoSaque" class="select" data-var="sitebanknames">
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Sua Agência:
                </label>
                <div class="control">
                    <input class="input" id="usragenciaSaque" />
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Sua Conta:
                </label>
                <div class="control">
                    <input class="input" id="usrcontaSaque" />
                </div>
            </div>
            <div class="field">
                <label class="label">
                    CPF:
                </label>
                <div class="control">
                    <input class="input" id="usrcpfSaque" />
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Tipo da Conta:
                </label>
                <div class="control">
                    <select id="usrtipoSaque" class="select">
                        <option>Conta corrente pessoal</option>
                        <option>Poupança pessoal</option>
                        <option>Conta corrente empresarial</option>
                        <option>Poupança empresarial</option>
                        <option>Outros</option>
                    </select>
                </div>
            </div>

            <div class="notification  is-warning">
                <b>Atenção</b> Seu limite de depósito é: <b data-var="fiat_withdraw_limit"></b>
            </div>

            <hr>


            <button class="button is-danger is-medium" data-do="createFiatWithdraw">
                    <i class="fa fa-fw fa-plus"></i> Criar ordem
            </button>
            
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Histórico
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <table class="is_table" data-var="deposits">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Transação</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="saqueslist_fiat_tbl"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>