<div class="card-content">
    <div id="signup_1">
        <div class="steps is-small">
          <div class="step-item is-active">
            <div class="step-marker"></div>
            <div class="step-details">
              <p class="step-title">Conta</p>
            </div>
          </div>
          <div class="step-item">
            <div class="step-marker"></div>
            <div class="step-details">
              <p class="step-title">Detalhes</p>
            </div>
          </div>
        </div>
        <div class="field">
            <input class="input has-float-label is-fullwidth" required type="text" data-mask="name" data-var="signup_name">
            <label><span>Nome</span></label>
        </div>
        <div class="field">
            <input class="input has-float-label is-fullwidth" required type="text" data-mask="cpfCnpj" data-var="signup_cpf">
            <label><span>CPF</span></label>
        </div>
        <div class="field">
            <div class="select is-fullwidth">
                <select data-var="signup_gender">
                    <option selected disabled>Gênero</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
            </div>
        </div>
        <div class="field">
            <input class="input has-float-label is-fullwidth" required type="email" data-var="signup_email">
            <label><span>E-mail</span></label>
        </div>
        <div class="field">
            <input class="input has-float-label is-fullwidth" required type="password" data-var="signup_password">
            <label><span>Senha (mín. 6 dígitos)</span></label>
        </div>
        <div class="field">
            <input class="input has-float-label is-fullwidth" required type="password" data-var="signup_password2">
            <label><span>Confirmar senha</span></label>
        </div>
        <div class="columns">
            <div class="column">
              <p style="float: left">
                Já possui cadastro?<br>
                <a href="javascript:void(0);" data-do="linklogin">Efetuar login</a>
              </p>
            </div>
            <div class="column">
                <button class="button is-medium is-fullwidth is-light" data-do="signup_2">
                  Criar conta
                </button>
            </div>
        </div>
    </div>
    <div id="signup_2" style="display: none">
        <div class="steps is-small">
          <div class="step-item is-completed">
            <div class="step-marker">
              <span class="icon">
                <i class="fa fa-check"></i>
              </span>
            </div>
            <div class="step-details">
              <p class="step-title">Conta</p>
            </div>
          </div>
          <div class="step-item is-active">
            <div class="step-marker"></div>
            <div class="step-details">
              <p class="step-title">Detalhes</p>
            </div>
          </div>
        </div>
        <div class="field">
            <div class="select is-fullwidth">
                <select data-var="signup_country" class="countrylist" data-do="georegions">
                    <option selected disabled>País</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="select is-fullwidth">
                <select class="regionlist" data-var="signup_region">
                    <option selected disabled>Estado/região</option>
                </select>
            </div>
        </div>
        <div class="field">
                <input class="input has-float-label is-fullwidth" required type="text" data-var="signup_city">
                <label><span>Cidade</span></label>
        </div>
        <div class="field">
                <input class="input" required type="tel" data-var="signup_telephone">
        </div>
        <div class="field">
            <label class="checkbox">
              <input type="checkbox" data-var="accept-tos">
              Li e aceito os <a target="_blank" href="https://brecoins.com.br/termos">Termos de Uso</a> e a <a target="_blank" href="https://brecoins.com.br/termos">Política de Privacidade</a>
            </label>
        </div>
        <div class="field">
          <div class="g-recaptcha"></div>
        </div>
        <div class="columns">
            <div class="column">
              <p style="float: left">
                Já possui registro?<br>
                <a href="javascript:void(0);" data-do="linklogin">Efetuar login</a>
              </p>
            </div>
            <div class="column">
                <button class="button is-medium is-fullwidth is-light loadingonclick" data-do="signup">
                  Criar conta
                </button>
            </div>
        </div>
    </div>
</div>
