<section class="hero is-fullheight is-medium is-dark is-bold is-fullscreen">
    <div class="hero-body">
        <div class="container">
          <center>
            <img src="./assets/fonts/svg/bre-logo-150x33-23.svg" alt="BRE Coins" width="112" height="28" style="margin-bottom: 5px">

            <p style="font-size: 8px;" id="splash_loading">
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
              <span class="sr-only">Carregando...</span>
            </p>

            <div id="splash_account" class="columns is-centered" style="display: none">
              <article class="is-rounded" w3-include-html="views/login.html"></article>
              <article class="is-rounded" style="border-left: 1px solid gray; background: rgba(10, 10, 10, 0.8)" w3-include-html="views/signup.html"></article>
            </div>

          </center>
        </div>
    </div>
</section>